<body>
  <!-- Nav Inicio -->
  <!-- <div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
      <a href="#" routerLink="/home" routerLinkActive="active" class="navbar-brand px-lg-4 m-0">
        <h1 class="m-0 display-4 text-uppercase text-white">Gabriel Coffee</h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto p-4">
          <a href="#" routerLink="/home" routerLinkActive="active" class="nav-item nav-link active">Inicio</a>
          <a href="#" routerLink="/about" routerLinkActive="active" class="nav-item nav-link">Sobre</a>
          <a href="#" routerLink="/servicos" routerLinkActive="active" class="nav-item nav-link">Serviços</a>
          <a href="#" routerLink="/produtos" routerLinkActive="active" class="nav-item nav-link">Menu</a>
          <a href="contact.html" class="nav-item nav-link">Contato</a>
        </div>
      </div>
    </nav>
  </div> -->
  <app-navMenu></app-navMenu>
  <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
      <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Contato</h1>
      <div class="d-inline-flex mb-lg-5">
        <p class="m-0 text-white"><a class="text-white" href="" routerLink="/home">Inicio</a></p>
        <p class="m-0 text-white px-2">/</p>
        <p class="m-0 text-white">Contato</p>
      </div>
    </div>
  </div>
  <!--NAv Fim -->



  <!-- Contact Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="section-title">
        <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contate-nos</h4>
        <h1 class="display-4">Sinta-se à vontade para contactar</h1>
      </div>
      <div class="row px-3 pb-2">
        <div class="col-sm-4 text-center mb-3">
          <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
          <h4 class="font-weight-bold">Endereço</h4>
          <p>Avenida Paulista, 900 - Bela Vista, São Paulo</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
          <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
          <h4 class="font-weight-bold">Telefone</h4>
          <p>(11) 4789-7189</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
          <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
          <h4 class="font-weight-bold">Email</h4>
          <p>contato@coffeeGabriel.com.br</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pb-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d543.6281971348191!2d-46.651618033934334!3d-23.565569467190937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c787aacc3d%3A0x6b07a26a79d21c72!2sAv.%20Paulista%2C%20900%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1666409856847!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <div class="col-md-6 pb-5">
          <div class="contact-form">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <input type="text" class="form-control bg-transparent p-4" id="name" placeholder="Seu nome"
                  required="required" data-validation-required-message="Por favor, insira seu nome" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input type="email" class="form-control bg-transparent p-4" id="email" placeholder="Seu Email"
                  required="required" data-validation-required-message="Por favor, insira seu email" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input type="text" class="form-control bg-transparent p-4" id="subject" placeholder="Assunto"
                  required="required" data-validation-required-message="Por favor, insira um assunto" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <textarea class="form-control bg-transparent py-3 px-4" rows="5" id="message" placeholder="Mensagem"
                  required="required" data-validation-required-message="Por favor, insira sua mensagem"></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div>
                <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit" id="sendMessageButton">Envie
                  Mensagem</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

  <app-footer></app-footer>
</body>
