<body>
  <app-navMenu></app-navMenu>
  <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
      <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Sobre</h1>
      <div class="d-inline-flex mb-lg-5">
        <p class="m-0 text-white"><a class="text-white" href="" routerLink="/home">Inicio</a></p>
        <p class="m-0 text-white px-2">/</p>
        <p class="m-0 text-white">Sobre</p>
      </div>
    </div>
  </div>
  <!--NAv Fim -->

  <div class="container-fluid py-5">
    <div class="container">
      <div class="section-title">
        <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Sobre nós</h4>
        <h1 class="display-4">Servindo desde 1950</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 py-0 py-lg-5">
          <h1 class="mb-3">Nossa história</h1>
          <p>Começamos a servir com o propósito de melhorar o dia das pessoas, desde 1950 onde um café era apreciado a cada gota!</p>
          <!-- <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Leia Mais</a> -->
        </div>
        <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="./assets/about.png" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-4 py-0 py-lg-5">
          <h1 class="mb-3">Nossa visão</h1>
          <p>Aqui o intuito é fazer com que você tenha um gostinho de quero mais sempre, e viciá-lo no nosso produto.</p>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Todo tipo de café</h5>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Entrega mais rápida da região</h5>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>O preço cabe no seu bolso</h5>
          <!-- <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Leia Mais</a> -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
